<div id="<%= dom_id vacation %>" class="container-fluid bg-light p-5">
  <p class="lead">
    <strong>Start date:</strong>
    <%= vacation.start_date %>
  </p>

  <p class="lead">
    <strong>End date:</strong>
    <%= vacation.end_date %>
  </p>

  <p class="lead">
    <strong>User email:</strong>
    <%= vacation.email %>
  </p>

  <p class="lead">
    <strong>Status:</strong>
    <%= vacation.status %>
  </p>

</div>